@font-face {
  font-family: "Lato-Black";
  src: url("../fonts/Lato-Black.ttf");
}
@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: "Lato-LightItalic";
  src: url("../fonts/Lato-LightItalic.ttf");
}
#social_network .container, #header .container, .container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
@media only screen and (min-width: 576px) {
  #social_network .container, #header .container, .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media only screen and (min-width: 768px) {
  #social_network .container, #header .container, .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media only screen and (min-width: 992px) {
  #social_network .container, #header .container, .container {
    width: 90%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1400px) {
  #social_network .container, #header .container, .container {
    width: 85%;
  }
}
@media only screen and (min-width: 1900px) {
  #social_network .container, #header .container, .container {
    max-width: 1620px;
  }
}

.container {
  padding-top: 120px;
  padding-bottom: 120px;
}

#main_section .nav .nav_wrapper a {
  font-family: "Lato-Regular";
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.btn {
  font-family: "Lato-Bold";
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #ce0000;
  color: white;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}
.btn:hover {
  background-color: #680000;
  transition: background-color 0.5s;
}

.btn_wrapper {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.btn {
  display: inline-block;
}

.border_btn {
  font-family: "Lato-Regular";
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  background-color: #ce0000;
  border: 2.5px solid white;
  padding: 13px 16px;
  display: inline-block;
  letter-spacing: 0.8px;
  transition: background-color 0.8s, border-color 0.8s, font-weight 0.9s;
}
.border_btn:hover {
  background-color: #820000;
  border-color: #820000;
  font-weight: bold;
}

.para {
  font-family: "Lato-Regular";
  font-size: 18px;
  line-height: 23px;
  color: white;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .para {
    font-size: 20px;
    line-height: 25px;
  }
}

.heading, #footer .container h5, #contact .container .contact_info .contact_wrap .email h6, #contact .container .contact_info .contact_wrap .adress h6, #contact .container .event_list .posts li .post_list h6 {
  font-family: "Lato-Bold";
  text-align: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}
@media only screen and (min-width: 768px) {
  .heading, #footer .container h5, #contact .container .contact_info .contact_wrap .email h6, #contact .container .contact_info .contact_wrap .adress h6, #contact .container .event_list .posts li .post_list h6 {
    text-align: left;
  }
}

p, h1, h2, h3, h4, h5, h6, .heading, #footer .container h5, #contact .container .contact_info .contact_wrap .email h6, #contact .container .contact_info .contact_wrap .adress h6, #contact .container .event_list .posts li .post_list h6 {
  text-align: center;
}
@media only screen and (min-width: 1200px) {
  p, h1, h2, h3, h4, h5, h6, .heading, #footer .container h5, #contact .container .contact_info .contact_wrap .email h6, #contact .container .contact_info .contact_wrap .adress h6, #contact .container .event_list .posts li .post_list h6 {
    text-align: left;
  }
}

#header {
  background-color: #ce0000;
}
#header .container {
  padding-top: 10px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 50px 60px;
  grid-template-areas: "social social" "brand menu";
  align-items: center;
  padding-bottom: 20px;
}
@media only screen and (min-width: 576px) {
  #header .container {
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-rows: 75px;
    grid-template-areas: "brand social menu";
  }
}
@media only screen and (min-width: 1200px) {
  #header .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
#header .container .brand {
  text-decoration: none;
  display: block;
  text-align: left;
  grid-area: brand;
}
#header .container .brand h1 {
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  display: inline;
  font-size: 25px;
}
#header .container .brand h1 span {
  font-weight: bold;
}
#header .container .brand i {
  font-size: 28px;
  margin-right: 8px;
}
#header .container .brand h1,
#header .container .brand i {
  color: white;
}
@media only screen and (min-width: 992px) {
  #header .container .brand h1 {
    font-size: 30px;
  }
  #header .container .brand i {
    font-size: 33px;
  }
}
@media only screen and (min-width: 1400px) {
  #header .container .brand h1 {
    font-size: 33px;
  }
  #header .container .brand i {
    font-size: 36px;
  }
}
#header .container .social {
  grid-area: social;
  max-width: 200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
@media only screen and (min-width: 1200px) {
  #header .container .social {
    margin-left: 0;
    margin-right: 0;
    justify-self: center;
  }
}
#header .container .social li {
  list-style: none;
  width: 100%/4;
  cursor: pointer;
}
#header .container .social li i {
  color: white;
  font-size: 22px;
}
#header .container .menu_btn {
  grid-area: menu;
  text-align: right;
}
#header .container .menu_btn i {
  color: white;
  font-size: 32px;
  padding: 5px;
  display: inline-block;
  cursor: pointer;
}

#main_section {
  background: transparent url("../img/main_bg.png") no-repeat center center;
  background-size: cover;
  height: 700px;
}
@media only screen and (min-width: 1200px) {
  #main_section {
    height: 800px;
  }
}
@media only screen and (min-width: 1400px) {
  #main_section {
    height: 900px;
  }
}
@media only screen and (min-width: 1900px) {
  #main_section {
    height: 900px;
  }
}
#main_section .nav {
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: #00000050;
  transition: all 0.5s;
}
@media only screen and (min-width: 1200px) {
  #main_section .nav {
    max-width: 500px;
    width: 0px;
    transition: width 0.5s;
  }
}
#main_section .nav .nav_wrapper {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding-top: 40px;
}
@media only screen and (min-width: 1200px) {
  #main_section .nav .nav_wrapper {
    margin-right: 90px;
    padding-top: 55px;
  }
}
#main_section .nav .nav_wrapper a {
  font-size: 18;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}
@media only screen and (min-width: 1200px) {
  #main_section .nav .nav_wrapper a {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
    transition: border 0.8s;
  }
  #main_section .nav .nav_wrapper a:hover {
    display: inline-block;
    border-bottom: 1px solid #ce0000;
  }
}
#main_section .active {
  height: 100vh;
}
@media only screen and (min-width: 1200px) {
  #main_section .active {
    margin-right: 120px;
    width: 100%;
  }
}
#main_section main {
  padding-top: 100px;
  text-align: center;
  padding-top: 150px;
}
@media only screen and (min-width: 1200px) {
  #main_section main {
    text-align: left;
    padding-top: 180px;
  }
}
@media only screen and (min-width: 1400px) {
  #main_section main {
    padding-top: 210px;
  }
}
#main_section main .sm_title {
  font-family: "Lato-Regular";
  font-size: 30px;
}
@media only screen and (min-width: 768px) {
  #main_section main .sm_title {
    font-size: 35px;
  }
}
@media only screen and (min-width: 992px) {
  #main_section main .sm_title {
    font-size: 40px;
  }
}
@media only screen and (min-width: 1900px) {
  #main_section main .sm_title {
    font-size: 45px;
  }
}
#main_section main .main_title {
  font-family: "Lato-Black";
  font-size: 43px;
  margin-top: 15px;
}
@media only screen and (min-width: 576px) {
  #main_section main .main_title {
    font-size: 70px;
    margin-top: 0px;
  }
}
@media only screen and (min-width: 992px) {
  #main_section main .main_title {
    font-size: 85px;
  }
}
@media only screen and (min-width: 1200px) {
  #main_section main .main_title {
    font-size: 100px;
  }
}
@media only screen and (min-width: 1400px) {
  #main_section main .main_title {
    font-size: 115px;
  }
}
@media only screen and (min-width: 1900px) {
  #main_section main .main_title {
    font-size: 125px;
  }
}
#main_section main .para {
  margin-top: 20px;
}
@media only screen and (min-width: 768px) {
  #main_section main .para {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 992px) {
  #main_section main .para {
    width: 70%;
  }
}
@media only screen and (min-width: 1200px) {
  #main_section main .para {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
  }
}
#main_section main .sm_title,
#main_section main .main_title {
  color: white;
  text-transform: uppercase;
  text-align: center;
}
@media only screen and (min-width: 1200px) {
  #main_section main .sm_title,
#main_section main .main_title {
    text-align: left;
  }
}
#main_section main .btn {
  margin-top: 50px;
}
@media only screen and (min-width: 1400px) {
  #main_section main .btn {
    margin-top: 80px;
  }
}

@media only screen and (min-width: 1200px) {
  .active_main {
    display: flex;
  }
}
#slider {
  background-color: #1b1b1b;
  padding-top: 120px;
  padding-bottom: 120px;
}
#slider .slider_container {
  background-color: #ce0000;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  #slider .slider_container {
    padding-top: 75px;
    padding-bottom: 75px;
    margin-top: -185px;
  }
}
#slider .slider_container .heading, #slider .slider_container #footer .container h5, #footer .container #slider .slider_container h5, #slider .slider_container #contact .container .contact_info .contact_wrap .email h6, #contact .container .contact_info .contact_wrap .email #slider .slider_container h6, #slider .slider_container #contact .container .contact_info .contact_wrap .adress h6, #contact .container .contact_info .contact_wrap .adress #slider .slider_container h6, #slider .slider_container #contact .container .event_list .posts li .post_list h6, #contact .container .event_list .posts li .post_list #slider .slider_container h6 {
  text-align: center;
}
#slider .slider_container .child_content {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}
@media only screen and (min-width: 992px) {
  #slider .slider_container .child_content {
    flex-direction: row;
    margin-top: 40px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
#slider .slider_container .child_content #img_slider {
  width: 100%;
  margin-top: 45px;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  #slider .slider_container .child_content #img_slider {
    max-width: 700px;
  }
}
@media only screen and (min-width: 992px) {
  #slider .slider_container .child_content #img_slider {
    width: 60%;
    order: 5;
    margin: 0px;
    align-self: center;
  }
}
#slider .slider_container .child_content #img_slider .swiper-container {
  width: 100%;
}
#slider .slider_container .child_content #img_slider .swiper-container .swiper-btn {
  display: none;
}
@media only screen and (min-width: 992px) {
  #slider .slider_container .child_content #img_slider .swiper-container .swiper-btn {
    display: block;
    color: white;
  }
}
@media only screen and (min-width: 1400px) {
  #slider .slider_container .child_content #img_slider .swiper-container .swiper-btn:first-child {
    margin-left: 10px;
  }
  #slider .slider_container .child_content #img_slider .swiper-container .swiper-btn:last-child {
    margin-right: 10px;
  }
}
#slider .slider_container .child_content #img_slider .swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: auto;
}
#slider .slider_container .child_content .texts {
  order: 2;
  margin-top: 85px;
}
@media only screen and (min-width: 768px) {
  #slider .slider_container .child_content .texts {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 992px) {
  #slider .slider_container .child_content .texts {
    order: 1;
    max-width: initial;
    flex-basis: 35%;
    margin: 0;
    text-align: left;
  }
}
#slider .slider_container .child_content .texts .heading, #slider .slider_container .child_content .texts #footer .container h5, #footer .container #slider .slider_container .child_content .texts h5, #slider .slider_container .child_content .texts #contact .container .contact_info .contact_wrap .email h6, #contact .container .contact_info .contact_wrap .email #slider .slider_container .child_content .texts h6, #slider .slider_container .child_content .texts #contact .container .contact_info .contact_wrap .adress h6, #contact .container .contact_info .contact_wrap .adress #slider .slider_container .child_content .texts h6, #slider .slider_container .child_content .texts #contact .container .event_list .posts li .post_list h6, #contact .container .event_list .posts li .post_list #slider .slider_container .child_content .texts h6 {
  text-align: center;
}
@media only screen and (min-width: 992px) {
  #slider .slider_container .child_content .texts .heading, #slider .slider_container .child_content .texts #footer .container h5, #footer .container #slider .slider_container .child_content .texts h5, #slider .slider_container .child_content .texts #contact .container .contact_info .contact_wrap .email h6, #contact .container .contact_info .contact_wrap .email #slider .slider_container .child_content .texts h6, #slider .slider_container .child_content .texts #contact .container .contact_info .contact_wrap .adress h6, #contact .container .contact_info .contact_wrap .adress #slider .slider_container .child_content .texts h6, #slider .slider_container .child_content .texts #contact .container .event_list .posts li .post_list h6, #contact .container .event_list .posts li .post_list #slider .slider_container .child_content .texts h6 {
    text-align: left;
  }
}
#slider .slider_container .child_content .texts .para {
  margin-top: 30px;
  margin-bottom: 45px;
}
@media only screen and (min-width: 992px) {
  #slider .slider_container .child_content .texts .para {
    text-align: left;
  }
}
#slider .slider_bottom_sec {
  margin-top: 75px;
  padding-top: 0px;
  padding-bottom: 0px;
}
@media only screen and (min-width: 992px) {
  #slider .slider_bottom_sec {
    margin-top: 100px;
  }
}
#slider .slider_bottom_sec .heading, #slider .slider_bottom_sec #footer .container h5, #footer .container #slider .slider_bottom_sec h5, #slider .slider_bottom_sec #contact .container .contact_info .contact_wrap .email h6, #contact .container .contact_info .contact_wrap .email #slider .slider_bottom_sec h6, #slider .slider_bottom_sec #contact .container .contact_info .contact_wrap .adress h6, #contact .container .contact_info .contact_wrap .adress #slider .slider_bottom_sec h6, #slider .slider_bottom_sec #contact .container .event_list .posts li .post_list h6, #contact .container .event_list .posts li .post_list #slider .slider_bottom_sec h6 {
  margin-bottom: 35px;
  font-size: 35px;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  #slider .slider_bottom_sec .heading, #slider .slider_bottom_sec #footer .container h5, #footer .container #slider .slider_bottom_sec h5, #slider .slider_bottom_sec #contact .container .contact_info .contact_wrap .email h6, #contact .container .contact_info .contact_wrap .email #slider .slider_bottom_sec h6, #slider .slider_bottom_sec #contact .container .contact_info .contact_wrap .adress h6, #contact .container .contact_info .contact_wrap .adress #slider .slider_bottom_sec h6, #slider .slider_bottom_sec #contact .container .event_list .posts li .post_list h6, #contact .container .event_list .posts li .post_list #slider .slider_bottom_sec h6 {
    text-align: left;
  }
}
@media only screen and (min-width: 768px) {
  #slider .slider_bottom_sec .para {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 768px) and (min-width: 992px) {
  #slider .slider_bottom_sec .para {
    text-align: left;
    margin-left: 0;
    width: 90%;
  }
}

#image_highlight {
  background-color: #1b1b1b;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
}
@media only screen and (min-width: 992px) {
  #image_highlight {
    margin-bottom: -35px;
  }
}
#image_highlight .child_wrap {
  display: inline-block;
  width: 90%;
  margin-bottom: 15px;
}
#image_highlight .child_wrap:last-child {
  margin-bottom: 0px;
}
@media only screen and (min-width: 768px) {
  #image_highlight .child_wrap {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 992px) {
  #image_highlight .child_wrap {
    width: 33.3333333333%;
    margin-bottom: 0px;
  }
}
#image_highlight .child_wrap img {
  width: 100%;
  height: 100%;
  margin-top: 0px;
  cursor: pointer;
}
@media only screen and (min-width: 1200px) {
  #image_highlight .child_wrap img {
    transition: margin-top 0.5s;
  }
  #image_highlight .child_wrap img:hover {
    margin-top: -25px;
  }
}

#blog_section {
  background: url("../img/highlight_bg.png") no-repeat center center;
  background-size: cover;
}
#blog_section .article_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
@media only screen and (min-width: 992px) {
  #blog_section .article_container {
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1400px) {
  #blog_section .article_container {
    justify-content: space-around;
  }
}
#blog_section .article_container .blog_article {
  width: 100%;
}
#blog_section .article_container .blog_article:last-child {
  margin-top: 80px;
}
@media only screen and (min-width: 768px) {
  #blog_section .article_container .blog_article {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 992px) {
  #blog_section .article_container .blog_article {
    width: 45%;
    margin-left: 0;
    margin-right: 0;
  }
  #blog_section .article_container .blog_article:last-child {
    margin-top: 0px;
  }
}
@media only screen and (min-width: 1400px) {
  #blog_section .article_container .blog_article {
    width: 40%;
  }
}
#blog_section .article_container .blog_article .heading, #blog_section .article_container .blog_article #footer .container h5, #footer .container #blog_section .article_container .blog_article h5, #blog_section .article_container .blog_article #contact .container .contact_info .contact_wrap .email h6, #contact .container .contact_info .contact_wrap .email #blog_section .article_container .blog_article h6, #blog_section .article_container .blog_article #contact .container .contact_info .contact_wrap .adress h6, #contact .container .contact_info .contact_wrap .adress #blog_section .article_container .blog_article h6, #blog_section .article_container .blog_article #contact .container .event_list .posts li .post_list h6, #contact .container .event_list .posts li .post_list #blog_section .article_container .blog_article h6 {
  font-size: 25px;
}
#blog_section .article_container .blog_article .para {
  margin-top: 20px;
}
#blog_section .article_container .blog_article .border_btn {
  border: none;
}
@media only screen and (min-width: 992px) {
  #blog_section .article_container .blog_article .heading, #blog_section .article_container .blog_article #footer .container h5, #footer .container #blog_section .article_container .blog_article h5, #blog_section .article_container .blog_article #contact .container .contact_info .contact_wrap .email h6, #contact .container .contact_info .contact_wrap .email #blog_section .article_container .blog_article h6, #blog_section .article_container .blog_article #contact .container .contact_info .contact_wrap .adress h6, #contact .container .contact_info .contact_wrap .adress #blog_section .article_container .blog_article h6, #blog_section .article_container .blog_article #contact .container .event_list .posts li .post_list h6, #contact .container .event_list .posts li .post_list #blog_section .article_container .blog_article h6,
#blog_section .article_container .blog_article .para {
    text-align: left;
  }
  #blog_section .article_container .blog_article .btn_wrapper {
    text-align: left;
  }
}

#client_section {
  background: #000000a1 url("../img/clientComment.png") no-repeat center center;
  background-size: cover;
}
#client_section .container .child-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
@media only screen and (min-width: 992px) {
  #client_section .container .child-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
#client_section .container .child-wrapper .slider-container {
  background-color: red;
}
#client_section .container .child-wrapper .slider-container img {
  width: 100%;
  max-width: 100px;
  display: inline-block;
}
#client_section .container .child-wrapper .slider-container .para {
  margin-top: 25px;
  font-family: "Lato-LightItalic";
  font-size: 18px;
  text-align: justify;
  line-height: 23px;
  color: white;
}
#client_section .container .child-wrapper .slider-container .name {
  font-size: 25px;
  margin-top: 10px;
}
#client_section .container .child-wrapper .slider-container .title {
  font-size: 18px;
  margin-top: 8px;
  font-family: "Lato-Regular";
  font-weight: lighter;
}
#client_section .container .child-wrapper .slider-container .title,
#client_section .container .child-wrapper .slider-container .para,
#client_section .container .child-wrapper .slider-container .name {
  text-align: center;
}
@media only screen and (min-width: 1200px) {
  #client_section .container .child-wrapper .slider-container .title,
#client_section .container .child-wrapper .slider-container .para,
#client_section .container .child-wrapper .slider-container .name {
    text-align: left;
  }
}
#client_section .container .client_list_slider {
  height: 425px;
}
@media only screen and (min-width: 576px) {
  #client_section .container .client_list_slider {
    height: 370px;
  }
}
@media only screen and (min-width: 768px) {
  #client_section .container .client_list_slider {
    height: 420px;
  }
}
#client_section .container .client_list_slider .slider-container {
  width: 100%;
  text-align: center;
  cursor: grab;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  #client_section .container .client_list_slider .slider-container {
    max-width: 475px;
  }
}
#client_section .container .client_list_slider .slider-container img {
  width: 100%;
  max-width: 120px;
}
@media only screen and (min-width: 768px) {
  #client_section .container .client_list_slider .slider-container img {
    max-width: 150px;
  }
}
@media only screen and (min-width: 1200px) {
  #client_section .container .client_list_slider .slider-container img {
    max-width: 120px;
  }
}
#client_section .container .client_list_slider .slider-container .para {
  margin-top: 15px;
}
@media only screen and (min-width: 768px) {
  #client_section .container .client_list_slider .slider-container .para {
    margin-top: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  #client_section .container .client_list_slider .slider-container .para {
    text-align: left;
  }
}
#client_section .container .client_list_slider .slider-container .name {
  font-size: 22px;
  margin-top: 10px;
}
@media only screen and (min-width: 768px) {
  #client_section .container .client_list_slider .slider-container .name {
    margin-top: 15px;
    font-size: 24px;
  }
}
#client_section .container .client_list_slider .slider-container .title {
  font-size: 18px;
  margin-top: 10px;
}
@media only screen and (min-width: 768px) {
  #client_section .container .client_list_slider .slider-container .title {
    font-size: 18px;
  }
}
#client_section .container .client_list_slider .slider-btn {
  display: none;
}
@media only screen and (min-width: 992px) {
  #client_section .container .client_list_slider .slider-btn {
    display: block;
    color: white;
    top: initial;
    right: initial;
    bottom: 0px;
    left: initial;
  }
}
#client_section .container .client_list_slider .swiper-button-prev {
  left: 40%;
}
#client_section .container .client_list_slider .swiper-button-next {
  right: 40%;
}
@media only screen and (min-width: 992px) {
  #client_section .container .client_list_slider .swiper-pagination {
    display: none;
  }
}

#motocycle_list {
  background: url("../img/riderSelection_bg.png") no-repeat center center;
  background-size: cover;
}
#motocycle_list .container .heading, #motocycle_list #footer .container h5, #footer #motocycle_list .container h5, #motocycle_list #contact .container .contact_info .contact_wrap .email h6, #contact #motocycle_list .container .contact_info .contact_wrap .email h6, #motocycle_list #contact .container .contact_info .contact_wrap .adress h6, #contact #motocycle_list .container .contact_info .contact_wrap .adress h6, #motocycle_list #contact .container .event_list .posts li .post_list h6, #contact #motocycle_list .container .event_list .posts li .post_list h6 {
  text-align: center;
}
#motocycle_list .container .para {
  margin-top: 35px;
}
@media only screen and (min-width: 1200px) {
  #motocycle_list .container .para {
    text-align: left;
  }
}
#motocycle_list .container .bike-list-slider {
  margin-top: 45px;
}
@media only screen and (min-width: 992px) {
  #motocycle_list .container .bike-list-slider {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}
#motocycle_list .container .bike-list-slider .swiper-slide img {
  position: relative;
  z-index: 5;
}
#motocycle_list .container .bike-list-slider .swiper-slide .btn_wrapper {
  margin-top: -20px;
  position: relative;
  z-index: 100;
}
#motocycle_list .container .bike-list-slider .swiper-slide .btn_wrapper .btn {
  padding: 10px 22px;
  font-size: 16px;
}
#motocycle_list .container .bike-list-slider .swiper-btn {
  display: none;
}
@media only screen and (min-width: 992px) {
  #motocycle_list .container .bike-list-slider .swiper-btn {
    display: block;
    color: #ce0000;
    font-weight: bold;
    font-size: 45px;
    top: 40%;
  }
}

#club_blog {
  background-color: #ce0000;
}
#club_blog .container {
  display: flex;
  flex-flow: row wrap;
}
@media only screen and (min-width: 1200px) {
  #club_blog .container {
    width: 100%;
    padding: 0px;
    align-items: center;
    max-width: initial;
  }
}
#club_blog .container .club_article {
  width: 100%;
}
@media only screen and (min-width: 992px) {
  #club_blog .container .club_article {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1200px) {
  #club_blog .container .club_article {
    width: 40%;
    padding-left: 100px;
  }
}
@media only screen and (min-width: 992px) {
  #club_blog .container .club_article .heading, #club_blog #footer .container .club_article h5, #footer #club_blog .container .club_article h5, #club_blog #contact .container .club_article .contact_info .contact_wrap .email h6, #contact #club_blog .container .club_article .contact_info .contact_wrap .email h6, #club_blog #contact .container .contact_info .contact_wrap .email .club_article h6, #contact #club_blog .container .contact_info .contact_wrap .email .club_article h6, #club_blog #contact .container .club_article .contact_info .contact_wrap .adress h6, #contact #club_blog .container .club_article .contact_info .contact_wrap .adress h6, #club_blog #contact .container .contact_info .contact_wrap .adress .club_article h6, #contact #club_blog .container .contact_info .contact_wrap .adress .club_article h6, #club_blog #contact .container .club_article .event_list .posts li .post_list h6, #contact #club_blog .container .club_article .event_list .posts li .post_list h6, #club_blog #contact .container .event_list .posts li .post_list .club_article h6, #contact #club_blog .container .event_list .posts li .post_list .club_article h6 {
    font-size: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  #club_blog .container .club_article .heading, #club_blog #footer .container .club_article h5, #footer #club_blog .container .club_article h5, #club_blog #contact .container .club_article .contact_info .contact_wrap .email h6, #contact #club_blog .container .club_article .contact_info .contact_wrap .email h6, #club_blog #contact .container .contact_info .contact_wrap .email .club_article h6, #contact #club_blog .container .contact_info .contact_wrap .email .club_article h6, #club_blog #contact .container .club_article .contact_info .contact_wrap .adress h6, #contact #club_blog .container .club_article .contact_info .contact_wrap .adress h6, #club_blog #contact .container .contact_info .contact_wrap .adress .club_article h6, #contact #club_blog .container .contact_info .contact_wrap .adress .club_article h6, #club_blog #contact .container .club_article .event_list .posts li .post_list h6, #contact #club_blog .container .club_article .event_list .posts li .post_list h6, #club_blog #contact .container .event_list .posts li .post_list .club_article h6, #contact #club_blog .container .event_list .posts li .post_list .club_article h6 {
    font-size: 65px;
  }
}
#club_blog .container .club_article .para {
  margin-top: 25px;
}
@media only screen and (min-width: 1200px) {
  #club_blog .container .club_article .para {
    text-align: left;
  }
}
@media only screen and (min-width: 1200px) {
  #club_blog .container .club_article .btn_wrapper {
    text-align: left;
  }
}
#club_blog .container #img_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 15px;
  margin-top: 80px;
}
@media only screen and (min-width: 768px) {
  #club_blog .container #img_container {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 8px;
    grid-column-gap: 8px;
    grid-template-rows: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 1200px) {
  #club_blog .container #img_container {
    width: 57%;
    margin-top: 0px;
    grid-gap: 0;
  }
}
#club_blog .container #img_container img {
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#newsletter {
  background: url("../img/newsLetter_bg.png") no-repeat center center;
  background-size: cover;
}
#newsletter .container .heading, #newsletter #footer .container h5, #footer #newsletter .container h5, #newsletter #contact .container .contact_info .contact_wrap .email h6, #contact #newsletter .container .contact_info .contact_wrap .email h6, #newsletter #contact .container .contact_info .contact_wrap .adress h6, #contact #newsletter .container .contact_info .contact_wrap .adress h6, #newsletter #contact .container .event_list .posts li .post_list h6, #contact #newsletter .container .event_list .posts li .post_list h6 {
  font-weight: 500;
}
#newsletter .container .heading span, #newsletter #footer .container h5 span, #footer #newsletter .container h5 span, #newsletter #contact .container .contact_info .contact_wrap .email h6 span, #contact #newsletter .container .contact_info .contact_wrap .email h6 span, #newsletter #contact .container .contact_info .contact_wrap .adress h6 span, #contact #newsletter .container .contact_info .contact_wrap .adress h6 span, #newsletter #contact .container .event_list .posts li .post_list h6 span, #contact #newsletter .container .event_list .posts li .post_list h6 span {
  font-weight: bold;
}
#newsletter .container .content_wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  #newsletter .container .content_wrapper {
    width: 100%;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 992px) {
  #newsletter .container .content_wrapper {
    justify-content: space-between;
    max-width: initial;
    flex-flow: row;
    align-items: center;
    margin-top: 35px;
  }
}
@media only screen and (min-width: 1200px) {
  #newsletter .container .content_wrapper {
    margin-top: 45px;
  }
}
#newsletter .container .content_wrapper .para {
  width: 100%;
  margin-top: 25px;
}
@media only screen and (min-width: 992px) {
  #newsletter .container .content_wrapper .para {
    width: 37%;
    margin-top: 0px;
    text-align: left;
  }
}
#newsletter .container .content_wrapper .form_wrap {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin-top: 50px;
}
@media only screen and (min-width: 992px) {
  #newsletter .container .content_wrapper .form_wrap {
    width: 60%;
    margin-top: 0px;
  }
}
#newsletter .container .content_wrapper .form_wrap #email_form {
  width: 65%;
  padding: 10px 20px;
  font-family: "Lato-Regular";
  font-size: 18px;
  background-color: black;
  border: 1px solid white;
  color: white;
}
#newsletter .container .content_wrapper .form_wrap #email_form::placeholder {
  font-family: "Lato-Regular";
  font-size: 18px;
}
#newsletter .container .content_wrapper .form_wrap #news_submit {
  width: 35%;
  border: none;
  cursor: pointer;
  padding: 13px;
}

#social_network {
  background-color: #1b1b1b;
}
#social_network .container {
  padding-top: 10px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 50px 60px;
  grid-template-areas: "social social" "brand brand";
  align-items: center;
  padding-bottom: 20px;
  justify-items: center;
  padding-top: 75px;
  padding-bottom: 75px;
}
@media only screen and (min-width: 768px) {
  #social_network .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 75px;
    grid-template-areas: "brand social";
    justify-content: space-between;
    justify-items: initial;
  }
}
#social_network .container .brand {
  text-decoration: none;
  display: block;
  text-align: left;
  grid-area: brand;
}
#social_network .container .brand h1 {
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  display: inline;
  font-size: 25px;
}
#social_network .container .brand h1 span {
  font-weight: bold;
}
#social_network .container .brand i {
  font-size: 28px;
  margin-right: 8px;
}
#social_network .container .brand h1,
#social_network .container .brand i {
  color: white;
}
@media only screen and (min-width: 992px) {
  #social_network .container .brand h1 {
    font-size: 30px;
  }
  #social_network .container .brand i {
    font-size: 33px;
  }
}
@media only screen and (min-width: 1400px) {
  #social_network .container .brand h1 {
    font-size: 33px;
  }
  #social_network .container .brand i {
    font-size: 36px;
  }
}
#social_network .container .social {
  grid-area: social;
  max-width: 200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) {
  #social_network .container .social {
    justify-self: end;
    margin-left: 0;
    margin-right: 0;
  }
}
#social_network .container .social li {
  list-style: none;
  width: 100%/4;
  cursor: pointer;
}
#social_network .container .social li i {
  color: white;
  font-size: 22px;
}
#social_network .container .menu_btn {
  grid-area: menu;
  text-align: right;
}
#social_network .container .menu_btn i {
  color: white;
  font-size: 32px;
  padding: 5px;
  display: inline-block;
  cursor: pointer;
}

#contact {
  background: url("../img/before_footer_bg.png") no-repeat center center;
  background-size: cover;
}
#contact .heading, #contact #footer .container h5, #footer .container #contact h5, #contact .container .contact_info .contact_wrap .email h6, #contact .container .contact_info .contact_wrap .adress h6, #contact .container .event_list .posts li .post_list h6 {
  font-size: 25px;
}
#contact .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "about" "contact" "event";
}
@media only screen and (min-width: 768px) {
  #contact .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: "about about" "contact event";
  }
}
@media only screen and (min-width: 1200px) {
  #contact .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "about contact event";
  }
}
#contact .container aside {
  margin-bottom: 100px;
}
#contact .container aside:last-child {
  margin-bottom: 0px;
}
@media only screen and (min-width: 1200px) {
  #contact .container aside {
    margin-bottom: 0px;
  }
}
#contact .container .about {
  grid-area: about;
}
#contact .container .about .para {
  margin-top: 35px;
}
@media only screen and (min-width: 1200px) {
  #contact .container .about .para {
    text-align: left;
  }
}
#contact .container .about .btn_wrapper {
  margin-top: 40px;
}
@media only screen and (min-width: 1200px) {
  #contact .container .about .btn_wrapper {
    text-align: left;
  }
}
#contact .container .event_list {
  grid-area: contact;
}
#contact .container .event_list .posts {
  margin-top: 35px;
  width: 100%;
}
#contact .container .event_list .posts li {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  max-width: 320px;
  margin-bottom: 30px;
}
#contact .container .event_list .posts li:last-child {
  margin-bottom: 0px;
}
#contact .container .event_list .posts li .date {
  width: 60px;
  height: 60px;
  background-color: #ce0000;
  margin-right: 8px;
}
#contact .container .event_list .posts li .date .month {
  font-size: 22px;
  margin-top: 4px;
}
#contact .container .event_list .posts li .date .day {
  font-size: 30px;
  font-weight: bold;
}
#contact .container .event_list .posts li .post_list {
  width: 75%;
  margin-bottom: 25px;
}
#contact .container .event_list .posts li .post_list:last-child {
  margin-bottom: 0px;
}
#contact .container .event_list .posts li .post_list h6 {
  font-size: 18px;
  text-align: left;
  font-size: lighter;
}
#contact .container .event_list .posts li .post_list .para {
  margin-top: 6px;
  text-align: left;
}
#contact .container .contact_info {
  grid-area: event;
  max-width: 576px;
  margin-left: auto;
  margin-right: auto;
}
#contact .container .contact_info .contact_wrap {
  margin-top: 35px;
}
#contact .container .contact_info .contact_wrap .phone_number {
  font-size: 35px;
  text-align: left;
}
#contact .container .contact_info .contact_wrap .adress {
  margin-top: 35px;
}
#contact .container .contact_info .contact_wrap .adress h6 {
  margin-top: 35px;
  font-size: 18px;
  font-weight: lighter;
  text-align: left;
}
#contact .container .contact_info .contact_wrap .adress .para {
  text-align: left;
}
#contact .container .contact_info .contact_wrap .adress .para:first-child {
  margin-top: 20px;
}
#contact .container .contact_info .contact_wrap .email {
  margin-top: 35px;
}
#contact .container .contact_info .contact_wrap .email h6 {
  font-size: 18px;
  text-align: left;
}
#contact .container .contact_info .contact_wrap .email .para {
  text-align: left;
}

#footer {
  width: 100%;
  background-color: #1b1b1b;
}
#footer .container {
  padding-top: 40px;
  padding-bottom: 40px;
}
#footer .container h5 {
  text-align: center;
  font-weight: lighter;
}
@media only screen and (min-width: 1200px) {
  #footer .container h5 {
    font-size: 18px;
  }
}
#footer .container h5 a {
  color: white;
  font-weight: bolder;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */
