#client_section {
    background: #000000a1 url("../img/clientComment.png") no-repeat center
        center;
    background-size: cover;
    .container {
        .child-wrapper {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            // responsive
            @include resp($md) {
                flex-direction: row;
                justify-content: space-between;
            }
            .slider-container {
                background-color: red;
                img {
                    width: 100%;
                    max-width: 100px;
                    display: inline-block;
                }


                // --------------------------------------
                .para {
                    $font_s: 18;
                    margin-top: 25px;
                    font-family: $para_i;
                    font-size: $font_s + px;
                    text-align: justify;
                    line-height: $font_s + 5 + px;
                    color: white;
                }
                .name {
                    font-size: 25px;
                    margin-top: 10px;
                }
                .title {
                    font-size: 18px;
                    margin-top: 8px;
                    font-family: $para;
                    font-weight: lighter;
                }
                .title,
                .para,
                .name {
                    text-align: center;
                    // responsive
                    @include resp($lg) {
                        text-align: left;
                    }
                }
            }
        }
        // ---------------------------------------
        // slider style 
        // -----------------------------------------
        .client_list_slider {
            // slider container (child )
            // height: 440px;
            height: 425px;
            // responsive design 
            @include resp ($x_sm) {
                height: 370px;
            }
            @include resp ($sm) {
                height: 420px;
            }
            .slider-container {
                width: 100%;
                text-align: center;
                cursor: grab;
                max-width: 420px;
                @include center;
                // responsive design 
                @include resp ($sm) {
                    max-width: 475px;
                }
                
                img {
                    width: 100%;
                    max-width: 120px;
                    @include resp ($sm) {
                        max-width: 150px;
                    }
                    @include resp ($lg) {
                        max-width: 120px;
                    }
                }
                .para {
                    margin-top: 15px;
                    @include resp ($sm) {
                        margin-top: 20px;
                    }
                    @include resp ($lg) {
                        text-align: left;
                    }
                }
                .name {
                    font-size: 22px;
                    margin-top: 10px;
                    @include resp ($sm) {
                        margin-top: 15px;
                        font-size: 24px;
                    }
                }
                .title {
                    font-size: 18px;
                    margin-top: 10px;
                    @include resp ($sm) {
                        font-size: 18px;
                    }
                }
            }
            .slider-btn {
                display: none;
                @include resp ($md) {
                    display: block;
                    color: white;
                    top: initial;
                    right: initial;
                    bottom: 0px;
                    left: initial;
                }
            }
            .swiper-button-prev {
                left: 40%;
            }
            .swiper-button-next {
                right: 40%;
            }
            .swiper-pagination {
                @include resp ($md) {
                    display: none;
                }
            }
        }
    }
}
