#motocycle_list {
    background: url('../img/riderSelection_bg.png') no-repeat center center;
    background-size: cover;
    .container {


        .heading {
            
        }

        .para {
            margin-top: 35px;
        }
        // motocycle list slider 
        #cycle_list {
            width: 100%;
            height: 450px;
        }
    }
}