#slider {
    background-color: $not_black;
    padding-top: 120px;
    padding-bottom: 120px;
    // slider
    .slider_container {
        background-color: $red;
        text-align: center;
        // responsive
        @include resp($md) {
            @include padX(75px);
            margin-top: -185px;
        }
        // slider wrapper
        .heading {
            text-align: center;
        }
        .child_content {
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            // resonsive
            @include resp($md) {
                flex-direction: row;
                // justify-content: initial;
                margin-top: 40px;
                width: 90%;
                @include center;
            }







            // image slider
            
            #img_slider {
                width: 100%;
                margin-top: 45px;
                max-width: 550px;
                @include center;

                // responsive 
                @include resp ($sm) {
                    max-width: 700px;
                }
                @include resp ($md) {
                    width: 60%;
                    order: 5;
                    margin: 0px;
                    align-self: center;
                }

                // container 
                .swiper-container {
                    width: 100%;

                // swiper btn 
                .swiper-btn {
                    display: none;
                    @include resp ($md) {
                        display: block;
                        color: white;
                    }
                    @include resp ($xl) {
                        &:first-child {
                            margin-left: 10px;
                        }
                        &:last-child {
                            margin-right: 10px;
                        }
                    }
                }

                    // swiper wrapper 
                    .swiper-wrapper {


                    // slide 
                    .swiper-slide {

                        // images 
                        img {
                            width: 100%;
                            height: auto;
                        }
    
                    }
                }
            }                

            }
















            // text
            .texts {
                order: 2;
                margin-top: 85px;
                // responsive
                @include resp($sm) {
                    max-width: 750px;
                    @include center;
                }
                @include resp($md) {
                    order: 1;
                    max-width: initial;
                    flex-basis: 35%;
                    margin: 0;
                    text-align: left;
                }
                .heading {
                    text-align: center;
                    @include resp($md) {
                        text-align: left;
                    }
                }
                .para {
                    margin-top: 30px;
                    margin-bottom: 45px;
                    @include resp($md) {
                        text-align: left;
                    }
                }
            }
        }
    }
    // slider bottom container
    .slider_bottom_sec {
        margin-top: 75px;
        padding-top: 0px;
        padding-bottom: 0px;
        // responsive
        @include resp($md) {
            margin-top: 100px;
        }
        .heading {
            margin-bottom: 35px;
            font-size: 35px;
            text-align: center;
            @include resp($md) {
                text-align: left;
            }
        }
        .para {
            @include resp($sm) {
                width: 70%;
                @include center;
                @include resp($md) {
                    text-align: left;
                    margin-left: 0;
                    width: 90%;
                }
            }
        }
    }
}
