#slider {
    background-color: $not_black;
    padding-top: 120px;
    padding-bottom: 120px;
    // slider
    .slider_container {
        background-color: $red;
        text-align: center;
        // responsive 
        @include resp ($md) {
            @include padX(75px);
            margin-top: -185px;
        }
        // slider wrapper
        .heading {
            text-align: center;
        }
        .child_content {
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            // resonsive
            @include resp($md) {
                flex-direction: row;
                // justify-content: initial;
                margin-top: 40px;
                width: 90%;
                @include center;

            }
            // image slider
            #img_slider {
                order: 1;
                flex-basis: 100%;
                margin-top: 50px;
                // responsive
                @include resp($sm) {
                    max-width: 650px;
                    @include center;
                }
                @include resp($md) {
                    max-width: initial;
                    margin: 0;
                    flex-basis: 62%;
                }
                .sli_child_con {
                    width: 100%;
                    overflow: hidden;
                    height: 300px;
                    // imgages
                    img {
                        display: inline-block;
                        width: 100%;
                        float: left;
                    }
                }
            }

            // text
            .texts {
                order: 2;
                margin-top: 50px;
                // responsive
                @include resp($sm) {
                    max-width: 750px;
                    @include center;
                }
                @include resp($md) {
                    order: 1;
                    max-width: initial;
                    flex-basis: 35%;
                    margin: 0;
                    text-align: left;
                }
                .heading {
                    text-align: center;
                    @include resp ($md) {
                        text-align: left;
                    }
                }
                .para {
                    margin-top: 30px;
                    margin-bottom: 45px;
                    @include resp ($md) {
                        text-align: left;
                    }
                }
            }
        }
    }
    // slider bottom container
    .slider_bottom_sec {
        margin-top: 75px;
        // responsive 
        @include resp ($md) {
            margin-top: 100px;
        }
        .heading {
            margin-bottom: 35px;
            font-size: 35px;
            text-align: center;
            @include resp ($md) {
                text-align: left;
            }
        }
        .para {
            @include resp($sm) {
                width: 70%;
                @include center;
                @include resp ($md) {
                    text-align: left;
                    margin-left: 0;
                    width: 90%;
                } 
            }
        }
    }
}
