// generate fonts

$fonts: "Lato-Black", "Lato-Bold", "Lato-Regular", "Lato-LightItalic";

@each $i in $fonts {
    @font-face {
        font-family: $i;
        src: url("../fonts/#{$i}.ttf");
    }
}

// -----------------------------------------------------
// variabls
// ------------------------------------------------------

// fonts
$para: "Lato-Regular";
$head: "Lato-Bold";
$main_head: "Lato-Black";
$para_i: "Lato-LightItalic";

// color
$red: #ce0000;
$not_white: #858585;






.para {
    font-family: $para;
}

.heading {
    font-family: $head;
}

// padding
@mixin padX($val) {
    padding-top: $val;
    padding-bottom: $val;
    @content;
}

// ----------------------------------------------
// responsive
// ----------------------------------------------
// break points

$x_sm: "576px";
$sm: "768px";
$md: "992px";
$lg: "1200px";
$xl: "1400px";
$xxl: "1920px";

@mixin resp($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}

@mixin center {
    margin-left: auto;
    margin-right: auto;
}




// container
%container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    //extra small 
    @include resp($x_sm) {
        padding-left: 30px;
        padding-right: 30px;
    }
    // small 
    @include resp($sm) {
        padding-left: 40px;
        padding-right: 40px;
    }
    // medium 
    @include resp($md) {
        width: 90%;
        padding-left: 0px;
        padding-right: 0px;
        @include center;
    }
    //extra  large 
    @include resp($xl) {
        width: 85%;
    }
    // extra extra large 
    @include resp($xxl) {
        max-width: 1620px;
    }
    
}